.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: var(--default-layout-width);
  min-height: 1000px;
  display: flex;
}

.content {
  flex: 1;
  background-color: aquamarine;
  min-height: 1000px;
}
